<div id="container">

  <header id="topbar">
    <div class="topbar-row">
      <a class="site-title" href="{{relative gallery.home.url}}">{{gallery.title}}</a>
      <div class="control-bar">
        {{> dark-light-toggle}} {{> BW-toggle}}
      </div>
    </div>
    <nav class="breadcrumbs">
      {{~#unless album.home~}}
        {{#each breadcrumbs~}}
        <a class="breadcrumb-item" href="{{relative url}}">{{title}}</a>&nbsp;/&nbsp;
        {{~/each}}
        <a class="breadcrumb-item" href="{{relative album.url}}">{{album.title}}</a>
      {{~/unless~}}
    </nav>
  </header>

  <div id="content">

    {{#if album.zip}}
    <div class="zip">
      <p>Download album as <a href="{{album.zip}}">zip</a>.</p>
    </div>
    {{/if}}

    <!-- Subalbums -->
    {{#if album.albums}}
      <div id="albums" class="justified-gallery">
        {{#each album.albums~}}
          {{> subalbum}}
        {{~/each}}
      </div>
    {{/if}}

    <!-- divider -->
    {{#if album.files}}{{#if album.albums}}
    <hr>
    {{/if}}{{/if}}

    <!-- Gallery -->
    {{#if album.files}}
    <div id="gallery">
      {{#each album.files~}}
        {{> thumbnail}}
      {{~/each}}
    </div>
    {{/if}}


    {{#if gallery.footer}}
    <hr>
      <footer>
        <p>{{{gallery.footer}}}</p>
      </footer>
    {{/if}}

  </div>

  <!-- Pagination -->
  {{#compare pagination.length '>' 1}}
  <div>
    <nav class="pagination">
      Pages:
      {{#each pagination}}
      {{#if current}}
      <a class="page current" href="{{relative url}}">{{index}}</a>
      {{else}}
      <a class="page" href="{{relative url}}">{{index}}</a>
      {{/if}}
      {{/each}}
    </nav>
  </div>
  {{/compare}}

</div>
