<a class="album" href="{{relative url}}">
    <img class="album-cover" src="{{relative previews.0.urls.small}}" alt="{{title}} - {{monthYear stats.toDate}}">

    <div class="caption">
        <span class="album-title">{{title}}</span> <span class="album-count">({{stats.photos}})</span>
        <span class="album-last-updated">{{monthYear stats.toDate}}</span>
    </div>
</a>
